@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*  
font-family: 'Montserrat', sans-serif;

font-family: 'Roboto Condensed', sans-serif;
font-family: 'Work Sans', sans-serif;
*/


.card {
    position: relative;
    width: 250px;
    height: 250px;
    color: #2e2d31;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;

}

.card>a {
    color: #2e2d31;
}

.img {
    /* border: 1px solid red; */
    font-weight: bold;
    font-size: 24px;
    /* padding: 6px 12px; */
    color: #f8f8f8;
}

.img>img{
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.card_title {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.card_content {
    /* border: 1px solid black; */
    position: absolute;
    left: 0;
    bottom: 0;
    /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* edit here to change the height of the content box */
    transform: translateY(132px);
    transition: transform .25s ease;
}

/* .card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
} */

.card_title {
    /* border: 1px solid blue; */
    color: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 36px;
    text-align: center;
}

.card_user {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    font-size: 12px;
    margin-bottom: 1px;
    margin-top: 1px;
}

.card_user>img{
    border: 2px solid #3C1642;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.card_user>p{
    /* border: 1px solid blue; */
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

}

.categorias{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    min-height: 36px;
    margin-bottom: 2px;
}

.categorias>p{
    /* border: 1px solid red; */
    font-size: 10px;
    padding: 0;
    color: #6c757d;
}

.card_description {
    /* border: 1px solid red; */
    line-height: 14.5px;
    height: 100px;
    overflow: hidden;
    border-bottom: 0;
    font-size: 12px;
    opacity: 0;
    transition: opacity .5s;
    font-family: 'Montserrat', sans-serif;
}

.moreDetail{
    border: none;
    background-color: #2e034b;
    color: aliceblue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

.card_content>a{
    /* border: 1px solid red; */
    text-decoration: none;
    color: #6c757d;
    font-size: 10px;
    
}

.card:hover .card_content {
    transform: translateY(0);
}

.card:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
}

/* .divGral {
    background: #fff;
    border: 1px solid #3C1642;
    border-radius: 1.25rem;
    padding: 1rem;    
    width: 500px;
    height: 250px;
    cursor: pointer;
    transition: box-shadow .3s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.divGral:hover{
    box-shadow: 0px 5px 5px #6c757d;
}

.divGral a {
    text-decoration: none;
    color: aliceblue;
    text-align: center;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 300;
    gap: 20px;
    color:#3C1642;
 
}

.divImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    color: #fff;
}

.container img {
    width: 250px;
    height: 200px;
    border-radius: 1.25rem;
}

.containerInfo{
    display: flex;
    flex-direction: column;
}

.divInfo {
    width: 204px;
    height: 170px;
    display: flex;
    flex-direction: column;
    gap:5px;
    text-align: left;
    justify-content: first baseline;
}

.divInfo h1 {
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
  
 
}

.divInfo h4 {
    font-size: 15px;
    font-weight: normal;

}

.description {
    text-align: justify;
    font-size: 12px;
}

.date {
    font-size: 10px;
    text-align: left;
}

.theGoal{
    background-color: #C70039;
    border-radius: 15px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.theGoal h3 {
    color: aliceblue;
} */