@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*  
font-family: 'Montserrat', sans-serif;

font-family: 'Roboto Condensed', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

.cardContainer {
    height: 125px;
    width: 250px;
    border-radius: 15px;
    background: #f0f0f0;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 0 14px black;
    transition: 0.15s linear;
}

.cardContainer:hover {
    border-radius: 15px;
    box-shadow: 0 0 14px #6a2697de;
}

.card {
    display: flex;
    flex-direction: column;
    column-count: 2;

}

.dataUser {
    display: grid;
    grid-template-columns: 1fr 40%;
}

.dataUser div {
    display: flex;
    flex-direction: column;
}

.textContainer {
    height: 60%;
}

.title {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border-radius: 15px 0 0 0;
    background-color: #2E034B;
    font-family: 'Montserrat', sans-serif;


}

.subTitle {
    height: 20px;
    width: 100%;
    display: flex;
    padding-left: 5px;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    color: black;
    font-weight: bold;
}



.dataUser img {
    object-fit: cover;
    max-width: 100px;
    height: 125px;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer {
    height: 40%;
    display: flex;
    flex-direction: column;

}

.button1 {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 25px;
    border: none;
    background-color: #2e034bde;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s linear;
}

.button1:hover {
    background-color: #09c7ae;

}

.button2 {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 25px;
    border: none;
    background-color: #2e034bde;
    color: aliceblue;
    border-radius: 0 0 0 15px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s linear;
}

.button2:hover {
    background-color: #09c7ae;

}


.modal_close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: #9d0208;
    border: 1px solid #9d0208;
    border-radius: 5px;
    width: 30px;
    color: #fff;
    font-weight: bold;
    padding: 3px;
    transition: all .1s ease;
}

.modal_close:hover {
    background: #d00000;
    border: 1px solid #d00000;
    box-shadow: 0px 2px 4px black;
}

.projects {
    /* border: 1px solid red; */
    min-height: 50vh;
    max-height: 50vh;
    width: 395px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #cfcff8;
    padding: 1rem;
    padding-top: 30px;
}

.project {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #2e034bde;
    color: #fff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 4px 7px black;
}

.buttonProject {
    padding: 2px;
    background: #cfcff8;
    border: 1px solid #cfcff8;
    border-radius: 5px;
    transition: all .1s ease;
}

.buttonProject:hover {
    box-shadow: 1px 2px 7px black;
}

.noProject {
    /* border: 1px solid red; */
    width: 80%;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: #6c757d;
}

.star {
    color: #ff8000;
}