.divGral {
    background: #fff;
    border: 1px solid #3C1642;
    border-radius: 1.25rem;
    padding: 1rem;    
    width: 500px;
    height: 250px;
    cursor: pointer;
    transition: box-shadow .3s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.divGral:hover{
    box-shadow: 0px 5px 5px #6c757d;
}

.divGral a {
    text-decoration: none;
    color: aliceblue;
    text-align: center;

}

.container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 300;
    gap: 20px;
    color:#3C1642;
 
}

.divImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    color: #fff;
}

.container img {
    width: 250px;
    height: 200px;
    border-radius: 1.25rem;
}

.containerInfo{
    display: flex;
    flex-direction: column;
}

.divInfo {
    /* border: 1px solid black; */
    width: 204px;
    height: 170px;
    display: flex;
    flex-direction: column;
    gap:5px;
    text-align: left;
    justify-content: first baseline;
}

.divInfo h1 {
    /* border: 1px solid black; */
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
  
 
}

.divInfo h4 {
    /* border: 1px solid black; */
    font-size: 15px;
    font-weight: normal;

}

.description {
    /* border: 1px solid red; */
    text-align: justify;
    font-size: 12px;
}

.date {
    /* border: 1px solid green; */
    font-size: 10px;
    text-align: left;
}

.theGoal{
    background-color: #C70039;
    border-radius: 15px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.theGoal h3 {
    color: aliceblue;
}