@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*  
font-family: 'Montserrat', sans-serif;

font-family: 'Roboto Condensed', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

.loader{
    width: 100vw;
    height: 100vh;
    background: #650498;
    display: flex;
    justify-content: center;
    align-items: center;

}
.loader > div{
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b2b6bb;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    
    color: #FFFFFF;

}

.loader>div> a{
    color: #2E034B;
    text-decoration: #2E034B;
}

.loader>div> a:hover{
    
    color: #2E034B;
}

.divGral{
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.nav {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: linear-gradient(to bottom, white, rgb(210, 217, 223));
    width: 100%;
    height: auto;
    min-height: 80px;
    box-shadow: 0px 2px 35px black;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

/* ----- Menu de usuario ----- */
.menuContainer{
    display: flex;
    width: 25%;
    min-width: 300px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.userButton{
    cursor: pointer;
    transition: .6s;
    display: flex;
    flex-direction: row;
    border-radius: 9px;
    border: 3px solid #2E034B;
    background-color: transparent;
    justify-content: left;
    align-items: center;
    color: #2E034B;
    height: 70px;
    width: 100%;
    min-width: 300px;


}

.userButton:hover  {

    background-color: #66198A;
    border: 3px solid #2E034B;
    color: aliceblue;
}

.profileImage{
    border: 3px solid #2E034B;
    border-right: none;
    display: flex;
    position: relative;
    right: 3px;
    border-radius: 9px 0px 0px 9px;
    max-height: 70px;
}


.textContainer{
    padding-left: 10px;
    padding-right: 15px;
}

.textContainer p{
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}

.textContainer h3{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}


/* ------ Menu flotante ------ */
.dropdown{
    width: fit-content;
    display: inline-block;
    position: relative;
    border-radius: 9px;
}

.dropdownContent{
    display: none;
    position: absolute;
    width: 100%;
    min-width: 300px;
    overflow: auto;
    z-index: 50;
}

.dropdown:hover .dropdownContent{
    
    display: flex;
    flex-direction: column;
    width: 260px;
   
}

.dropdownContent button {
    margin-top: 0.7px;
    margin-bottom: 0.7px;
    display: flex;
    border: none;
    border-radius: 9px;
    background-color: #2E034B;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 40px;
    width: 100%;
    min-width: 300px;
    padding: 5px;
  }

  .dropdownContent a{
    width: fit-content;
    text-decoration: none;
  }
  .dropdownContent button:hover {
    color: #FFFFFF;
    background-color: #66198A;
    border: 3px solid #2E034B;
  }





/* ----- CSS del Logo ----- */
.logoContainer{
    /* border: 1px solid red; */
    display: flex;
    min-width: fit-content;
    justify-content: center;
    padding-left: 20px;
    height: 70px;
}

.logo{
    width: fit-content;
    height: 70px;
    align-items: center;
}

/* ------- Footer ------- */
.footer {
    border-top: .3rem solid #3C1642;
    padding: 1rem 0;
    text-align: center;
    color:#3C1642;
    background: rgb(187, 193, 199);
    font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 600px){
    .logo{
        width: 300px;
        height: auto;
    }

    .containForm{
        padding-right: 0px;
    }

    .nav {
        justify-content: center;
        padding-bottom: 10px;

    }

}

@media (max-width:1100px) and (min-width:601px){
    .logoContainer{
        width: 100%;
    }
    .logo{
        width: 300px;
        height: auto;
    }

    .nav {
        justify-content: center;
        padding-bottom: 10px;
    }
}