.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is_open{
    display: flex;
}

.modal_container{
    position: relative;
    min-width: 320px;
    min-height: 200px;
    background-color: #fff;
    padding: 1rem;
}

.modal_close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.prueba{
    color: red;
}