.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.cards{
    padding: 1rem;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* .cards > div {
    border: .2rem solid black;
    background: grey;
} */