.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.paginatedContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.paginatedContainer button{
    display: flex;
  align-items: center;
  justify-content: center;
  line-height: 10px;
  font-weight: bold;
  font-size: large;
  color: black;
  padding: 8px 16px;
  background-color: none;
  border: 3px solid #260157;
  border-radius: 15px;
  cursor: pointer;
}

.paginatedContainer button:hover{
    background-color: #c92f5b;
}


.cards{
    padding: 1rem;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* .cards > div {
    border: .2rem solid black;
    background: grey;
} */