@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* font-family: 'Montserrat', sans-serif; */


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.paginatedContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.paginatedContainer button{
    display: flex;
  align-items: center;
  justify-content: center;
  line-height: 10px;
  font-weight: bold;
  font-size: large;
  color: black;
  padding: 8px 16px;
  background-color: none;
  border: 3px solid #260157;
  border-radius: 15px;
  cursor: pointer;
}

.paginatedContainer button:hover{
    background-color: #c92f5b;
}


.cards{
    padding: 1rem;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.theIcon{
    font-size: 18px;
    color: aliceblue;
    padding-right: 8px;
}


.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
.buttonContainer button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #2e034b;
    padding: 10px 15px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    color: aliceblue;
    height: fit-content;
    text-transform: uppercase;
}

.buttonContainer button:hover{
    background-color: #09c7ae;
}

/* .cards > div {
    border: .2rem solid black;
    background: grey;
} */