.container{
    height: 100vb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background: #c4c3c3;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 1rem;
    padding: 1rem;
}

.box > div{

    height: 4rem;
    font-size: 10px;
    width: fit-content;
    background: green;
    border-radius: .5rem;
}