  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Work+Sans:ital,wght@1,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
  /*  
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  */


.divGral {
        display: flex;
        flex-direction: column;
        background-color: #babafa;
        min-height: 48.41vw;
        align-content: center;
        background-image: url('https://res.cloudinary.com/df4kwquv8/image/upload/v1679020114/emprendar_sources/trkdqgszrbtaq6cjy1ac.jpg');
        background-attachment:local;
        background-size:cover;
        background-repeat: no-repeat;
}

.header{
    display: flex;
    background: linear-gradient(to bottom, white, rgb(210, 217, 223));
    width: 100%;
    height: 140px;
    box-shadow: 0px 2px 35px black;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo{
    width: 400px;
    height: 100px;
}

.containerInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    width: 100%;
    height: 89.9vh;
    background-image: none;
}

.divInfo{
    color: aliceblue;
    text-shadow: 0px 2px 15px black;
    border-radius: 20px;
    padding: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 5px 15px #000000;
    backdrop-filter: blur(15px);
    font-family: 'Montserrat', sans-serif

}

.divInfo h1{
    text-align: center;
}

.button {
    color: #0b090a;
    padding: .3rem;
    border: .2rem solid #3C1642;
    border-radius: .5rem;
    background: #fff;
    font-size: 1.1rem;
    font-family: 'Varela Round';
    transition: color .2s ease, background .2s ease;
}

.button:hover{
    color: #fff;
    background: #3C1642;
}

.theIconSuccess{
    color: greenyellow;
    font-size: 70px;
}

.theIconFail{
    color:rgb(207, 25, 62);
    font-size: 70px;
}

@media (max-width: 1200px) and (min-width:601px){
    .containerInfo{
        background-image: url('https://res.cloudinary.com/df4kwquv8/image/upload/v1679020505/emprendar_sources/up6sjzd8ygujqxuoyc6q.jpg');
    }

}

@media (max-width:600px){
    .containerInfo{
        background-image: url('https://res.cloudinary.com/df4kwquv8/image/upload/v1679020995/emprendar_sources/qtdyecdqim8llthgfra8.jpg');
    }

    .divInfo{
        color: aliceblue;
        width: 80%;
    }

    .logo{
        width: 300px;
        height: auto;
    }

    .divInfo h1{
        font-size: 20px;
    }
}