.containerCreateProject {
    display: flex;
    background-color: rgba(186, 186, 250, 0.595);
    justify-content: center;
    align-items: center;

}

.formContainer{
    width: 500px;
    max-width: 100%;
    margin: 30px auto 30px auto;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal; 
    font-weight: 400;
}

.title {
    text-align: center;
    margin: 0 0 20px 0;
    color: rgba(0, 0, 0, 0.7);
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    width: 100%;
}

.question label {
   display: block;
   width: 100%;
   font-size: 1.3em;
   padding-left: 15px;
   position: absolute;
   margin-top: -85px;
   z-index: -20;
   color: #3C1642;
   transition: all 0.2s;
}
.questionText label {
    /* border: 1px solid red; */
    display: block;
    width: 100%;
    font-size: 1.3em;
    padding-left: 15px;
    position: absolute;
    margin-top: -290px;
    z-index: -20;
   color: #3C1642;
    transition: all 0.2s;
 }

.question input {
    display: block;
    width: 100%;
    font-size: 1.3em;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.question input:focus {
    outline: 1px solid rgba(72, 21, 75, 0.7);
}

.question input:focus + label {
    margin-top: -135px;
}

.fix {
    margin-top: -135px !important;
}

.questionText>textarea {
    display: block;
    width: 100%;
    font-size: 1.3em;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    resize: none;
    font-family: 'Roboto Condensed', sans-serif;
}

.questionText textarea:focus {
   outline: 1px solid rgba(72, 21, 75, 0.7);
}

.questionText textarea:focus + label {
    margin-top: -327px;
}

.fixTextarea  {
    margin-top: -327px !important;
}

.select {
    position: relative;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    color: #3C1642;
    background: rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 0 15px;
    font-size: 16px;
    cursor: pointer;
}

.select option:focus {
    outline: 1px solid rgba(72, 21, 75, 0.7);
}

.select::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.select:hover {
    background: #3C1642;
    color: #fff;
}

.select.active {
    background: #222222;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.containerQuestionCategory h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.questionCategory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-bottom: 1em;
}

.divInput {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
}

.divInput label {
    margin: 0 0 0 8px;
   font-size: 1em;
}

.danger {
    display: flex;
    justify-content: flex-end;
    color: red;
    font-size: 15px;
    margin: 0;
}
  
.submit {
    width: 100%;
    font-size: 1.3em;
    background-color: #3C1642;
    color: #eee;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-family: Varela Round;
    font-style: normal;
    font-weight: 400;
}

.disabled {
    width: 100%;
    font-size: 1.3em;
    background-color: #3c164265;
    color: #3C1642;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    font-family: Varela Round;
    font-style: normal;
    font-weight: 400;
}

.submit:hover {
    background: rgba(195, 195, 248, 0.595);;
    color: #3C1642;
    border: 1px solid #3C1642;
}

.dropzone {
    border: 2px dashed gray;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
}

.containerDrop ul  {
   list-style: none;
   text-align: center;
}

@media(max-width: 1100px) and (min-width:601px){
    .formContainer{
        width: 70%;
    }
}

@media(max-width:600px){
    .formContainer{
        width: 87%;
    }

    .questionCategory{
        grid-template-columns: repeat(1, 1fr);
    }

    .danger{
        padding-bottom: 20px;
    }
}


.img {
    max-width: 100%;
}