

.container {
    display: flex;
    min-height: 60vh;
}

.main {
    flex:5;
    margin-left: 50px;
    margin-right: 50px;
    overflow-y: auto;
    max-height: 41.35vw;
}

.sidebar {
        position: relative;
        padding-top: 5px;
        top:0;
        left: 0;
        width: 230px;
        height: auto;
        text-align: center;
        flex: 1;
        background-color: #260157;
        margin-right: 1rem;
        z-index: 0;
}
.sidebar h3 {
    color: white;
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.nav {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.nav a {
    font-size: 0.9rem;
    height: 50px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    padding: 15px 0;
    margin: 0;
    text-transform: uppercase;
}

.nav a:hover{
    background-color: #09c7ae;
}

.performance, .users, .projects {
    margin-top: 2.5rem;
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 15px 15px 0 0;
}

.users, .projects{
    min-height: 350px;
}

.performanceContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
}



.performance h2, .users h2, .projects h2 {
    border: 1px solid #260157;
    border-radius: 15px 15px 0 0;
    background-color: #260157;
    padding: 1rem;
    color: aliceblue;
    text-align: center;
}

.infoConainter {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.iconGreen svg, .iconBlue svg, .iconPurple svg {
    width: 4rem; /* especifica un valor en porcentaje */
  height: 4rem;
}

.iconGreen svg {
  color: #73A839;

}

.iconBlue svg {
    color: rgb(49, 49, 221);
}


.iconPurple svg {
    color: purple;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
}



.avatar {
    max-width: 100%;
    border-radius: 50%;
    width: 60px;
    height:  auto;
    object-fit: cover;
}

.table {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

.paginatedContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginatedMenu{
    border: none;
    border-radius: 5px;
    background-color: rgb(10, 10, 10);
    padding: 10px 10px;
    margin: 2px;
    margin-bottom: 15px;
    color: aliceblue;
    cursor: pointer;
    font-weight: bold;
}

.paginatedMenu:hover{
    background-color: #09c7ae;

}



.delete, .suspension, .accept {
    padding: .5rem 2rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete, .suspension:hover {
    cursor: pointer;
}

.suspension {
    background-color: #DD5600;
}

.delete {
    background-color: #C71C22 ;
    margin-left: 1rem;

}

.accept {
    background-color: #73A839;
    margin-left: 1rem;
}

.validated, .invalidated {
    border-radius: 1rem;
    font-weight: bold;
    color: white;
    padding: 2px 0;
}

.validated {

    background-color: #73A839;
}

.invalidated {
    background-color: #C71C22;

}

.filter {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: right;
}

.filter select {
    margin-left: 6px;
    border-radius: 4px;
    height: 30px;
}


.imageProject {
    max-width: 100%;
    max-height: 60px;
    width: 6rem;
    object-fit: cover;
    cursor: pointer;
}

.progressBar {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.bg_progress {
    background-color: #73A839;
}


 /* CSS en caso de que el usuario no sea ADMIN */
.containerRejected{
    min-height: 100vh;
    background-color: #babafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bubbleError{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 200px;
    background-color: #cfcff8;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 2px 15px black;
}

.bubbleError p{
    font-weight: bold;
}

.backHome{
    border: none;
    border-radius: 5px;
    background-color: #260157;
    height: 40px;
    width: 200px;
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}

.theIconX{
    font-size: 75px;
    color: crimson;
    margin-bottom: 15px;
}

.backHome:hover{
    background-color: #09c7ae;
}


 /* CSS del modal */
 .modalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #babafa;
}

.choiseContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 10px;
    background-color: #260157;
    height: auto;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0 4px 20px black;
    z-index: 3;
}

.choiseContainer h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.projInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
    background-color: #f3f3f3;
    width: 40%;
    box-shadow: 0 4px 20px black;
    z-index: 1;
}

.closeModal{
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    border:none;
    background-color: aliceblue;
    border-radius: 50%;
    cursor: pointer;
}

.theIconModalClose{
    font-size: 45px;
    color: crimson;
}