.ConteinerDetailproject{
    height: 100vh;
    background: #FFFFFF;
    display: grid;
    grid-template-columns: .8fr 1.2fr;
    overflow: hidden;
    position: relative;
    /* max-height:100vb; */
    

}

.ConteinerDetailproject  label {
     background: #3C1642;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    display: flex;
    text-align: center;
    
    font-family: 'Varela'; 
    border-bottom: #CCCCCC .2rem solid;

    justify-content: center;
}


/* background:  #CCCCCC; */
.buttonAll{
    background: rgb(231, 231, 209);
    height: 10vb;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.cardUser {
    border-right: #3C1642 .2rem solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vb;    
}

.cardUser button{
    color: #fff;
    font-size: 1.5rem;
    padding: .5rem;
    
}

.perfil{
    padding-top: 2rem;
    border-bottom: #CCCCCC .2rem solid;
    width: 100%;
    background: #3C1642;
    padding-left: 1rem;

}




.perfil > img {
    width: 300px;
    border-radius: 40%;

}

.perfil >  h1{
    padding-bottom: 1rem;
    color: #CCCCCC;
    font-size: 3rem;
}


.detailPerfil {
    height: 80%;
    width: 100%;
    background: #fff;
}

.detailPerfil div{
    height: 25%;
}



.campos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.campos h3{
    font-size: 2rem;
}

.datos{
    font-size: 1.5rem;
}














.cardDetailProject{ 
    height: 90vb;

}


.cardDetailProject > p{
    padding: 1rem;
    font-size: 2rem;
} 

.cardDetailProject > button {
    font-size: 1.5rem;
}






.cardUser > img {
    width: 300px;
}


.tarjetsProjets{
    transition: 1s;

    display: flex;
    flex-direction: column;
    height: 90vb;
}

.tarjetsProjets label {
    background: #3C1642;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    display: flex;
    text-align: center;
    
    font-family: 'Varela'; 
    border-bottom: #CCCCCC .2rem solid;

    justify-content: center;
}

.tarjetsProjets div{
    background: yellowgreen;
    border: 2px solid ;
}


.chk{
    display: none;
}
.chk:checked ~ .tarjetsProjets{
    transition: 1s;
    transform: translateY(-100%);
    
}


