


.allview{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;

}

.conteiner {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: #e0dee2;
    border-radius: 30px;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}

.firstPage{
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(181, 181, 174);

}
.barra{
    height: 10%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;


    background: rgb(121,9,103);
    background: linear-gradient(90deg, rgba(121,9,103,1) 26%, rgba(83,92,215,1) 69%, rgb(103, 136, 235) 100%);
}
.cardContainer{
    display: flex;
    height: 90%;
}

.container_detail{
    width: 74%;
}

.container_muro{
    width: 26%;
}

.info_creator{
    height: 70%;
    
}

.container_buttons{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid rgb(181, 181, 174);

}

.container_buttons > div{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_buttons > div > button{
    height: 80px;
    width: 200px;
}












.secondPage{
    height: 800px;
    display: flex; 
}


.second_container{
    width: 26%;
    border-left: 1px solid rgb(181, 181, 174);

}


.first_container{
    width: 74%;
    height: 100%;
}





.container_comentarios{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}



.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #29da38;
    background-size: 400%;
    cursor: pointer;
    
    font-size: 30px;
    
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button_content {
    position: relative;
    z-index: 1;
    color: #fff;
  }
  
  .button::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }

























/*estilo de toda la vista*/
/* .allview{
    display: flex;
    justify-content: center;

} 



/*Componente principal*/



/* 
.Conteiner{
    border: .2rem solid #3C1642;
    padding: 1rem;
    width: 70%;
    height: 93vb;
    background: #eedff4;

    display: grid;
    grid-template-columns: .4fr 1.2fr .4fr ;
    overflow: hidden;
    position: relative;
    
   


} */ 
/* 
.conteiner{
    width: 60%;
}

.Conteiner label {
    background: #3C1642;
    color: #fff;
    font-size: 2rem;
    width: 100%;
    display: flex;
    text-align: center;
    
    font-family: 'Varela'; 
    border-bottom: #CCCCCC .2rem solid;

    justify-content: center;

    border-radius: .5rem .5rem 0 0 ;


} */



/* background:  #CCCCCC; */
/* .buttonAll{
    background: rgb(231, 231, 209);
    height: 10vb;
    display: flex;
    align-items: center;
    justify-content: center;
    
} */

/*user*/

/* 
.cardUser {
    margin-right: 1rem;
    
}



.perfil{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgb(192, 184, 184);
    height: 15%;
    border-top-right-radius: 200%;
} */

/*Perfil es el div del la img*/
/* .perfil > img {
    padding: 1rem;
    width:  110%;
    height: 110%;
    border-radius: 50%;
    filter: drop-shadow(10px 10px 10px rgb(66, 64, 64));

}



.detailPerfil {
    background: rgb(192, 184, 184);
    height: 34%;
    display: flex;
    flex-direction: column;
    text-align: center;
 
} */

/*detalles del perfil*/

/* .detailPerfil > div{
    display: flex;
    height: 100%;

}






 */

/*Card detail project*/

/* .cardDetailProject{ 
    height: 80vb;
    padding: 2rem;
    background: #d0b2dd;
}




.cardDetailProject >  div{
    border: 2px solid ;
    height: 100%;
    padding: .7rem;
}
.cardDetailProject img{
    width: 400px;
}


.containerInfo{
    display: flex;
    border: #3C1642 solid 2px;
}


.InfoLessDescription{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

 */


/*Card detail project*/

/* 
.tarjetsProjets{
    transition: 1s;
    display: flex;
    flex-direction: column;
    height: 90vb;
}

.tarjetsProjets label {
  border-radius: 0;
}

.tarjetsProjets div{
    background: yellowgreen;
}



.chk{
    display: none;
}
.chk:checked ~ .tarjetsProjets{
    transition: 1s;
    transform: translateY(-89.5%);
    
}


.chk:checked ~ .tarjetsProjets label{
    border-radius: .5rem .5rem 0 0 ;
} */
