@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* font-family: 'Roboto Condensed', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* font-family: 'Montserrat', sans-serif; */


/* navBar */
.header{
    display: flex;
    background: linear-gradient(to bottom, white, rgb(210, 217, 223));
    width: 100%;
    height: 140px;
    box-shadow: 0px 2px 35px black;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo{
    width: 400px;
    height: 100px;

}

/* Lo que seria el body */
.bodyContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

}

.welcomeImageContainer{
    width: 100%;
    height: fit-content;
    background-image: url('../../../public/img/welcomeHands2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.welcomeImage{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.formPosition{
    margin: 20px;
    width: 270px;
    position: relative;
    left: 70%;
    
}

.boxIn{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background:rgb(187, 193, 199);
    box-shadow: 0px 2px 35px black;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 10px;
    position: relative;
}


.lorems{
    width: 60%;
    height: fit-content;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
    background-color: black;
    opacity: 70%;
    color: aliceblue;
    font-size: 1rem;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;

}

.infoContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
}

.boxOne{
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

.boxOne:hover{
    transform: scale(1.2);

}

.statsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
    margin-top: 20px;
}

.statsContainer h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

.theIcons{
    font-size: 50px;
    margin-bottom: 2px;
}
.aboutUs{
    justify-content: center;
}


.QandABox{
    padding-bottom: 20px;
    width: 100%;
    height: fit-content;
    background:rgb(187, 193, 199);
    box-shadow: 0px 2px 35px black;
    align-items: center;
    justify-content: center;
}

.copyR{
    display: flex;
    width: 100%;
    height: fit-content;
    background:rgb(187, 193, 199);
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 15px;
}

/* ---- Botones flotantes ---- */
.helperButtons{
    display: flex;
    flex-direction: row;
    width: fit-content;
    position: fixed;
    right: 10px;
    bottom: 20px;
    gap: 10px;
    z-index: 100;
}

.buttonLevitation{
    border: none;
    padding: 15px 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #2e034b;
    color: aliceblue;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 2px 8px black;
}

.buttonLevitation:hover{
    background-color: #09c7ae;
    box-shadow: 0px 2px 8px #7eddd0;
    text-shadow: 0px 2px 8px black;
}


@media (max-width: 600px){
    .logo{
        width: 80%;
        height: auto;
    }

    .welcomeImageContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        height: fit-content;
    }

    .formPosition{
    margin: 20px;
    position: relative;
    left: 0%;
    }

    .lorems{
        width: 90%;
        padding: 20px;
    }

    .infoContainer{
        flex-wrap: wrap;
        height: auto;
        width: 95%;
        gap: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
}