
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*  
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
.divGral{
    display: flex;
    flex-direction: column;
    background-color: #babafa;
    min-height: 100vh;
    align-content: center;
    background-image: url('https://res.cloudinary.com/df4kwquv8/image/upload/v1679020114/emprendar_sources/trkdqgszrbtaq6cjy1ac.jpg');
    background-attachment:local;
    background-size:cover;
    background-repeat: no-repeat;
    align-items: center;
}

.header{
    display: flex;
    background: linear-gradient(to bottom, white, rgb(210, 217, 223));
    width: 100%;
    height: 140px;
    box-shadow: 0px 2px 35px black;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo{
    width: 400px;
    height: 100px;
}

.container {
    color: aliceblue;
    border-radius: 20px;
    padding: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px #000000;
    backdrop-filter: blur(15px);
    font-family: 'Montserrat', sans-serif;
    margin: auto auto;
}


.link {
    color: aliceblue;
    padding: 10px;
    border-radius: 4px;
    background-color: #573b8a;
    transition: color .2s ease, background .2s ease;
    text-decoration: none;
    text-shadow: 0px 2px 15px black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.link:hover{
    background-color: #09c7ae;
}

.form {
    color: aliceblue;
    border-radius: 20px;
    padding: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px #000000;
    backdrop-filter: blur(15px);
    font-family: 'Montserrat', sans-serif
}

.container h1 {
    margin-top: 10px;
    text-transform: uppercase;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 2px 15px black;
}

.messageContainer h5{
    margin-top: 0;
    padding-top: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 2px 15px black;
    text-align: center;
}

.messageContainer{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.theIconFail{
    color:rgb(207, 25, 62);
    font-size: 60px;
    margin-bottom: 30px;
}


.inputBox label {

    color: aliceblue;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 0;
    text-shadow: 0px 2px 15px black;

}

.container form{
    margin: 20px auto;
}

.inputBox {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inputBox input {

    width: 100%;
    height: 30px;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.button {
    width: 50%;
    height: 40px;
    margin: 12px auto 10%;
    color: #fff;
    background-color: #573b8a;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
    text-shadow: 0px 2px 15px black;
}

.button:hover{
    background-color: #09c7ae;
}


@media (max-width: 1200px) and (min-width:601px){
    .divGral{
        background-image: url('https://res.cloudinary.com/df4kwquv8/image/upload/v1679020505/emprendar_sources/up6sjzd8ygujqxuoyc6q.jpg');
        min-height: 100vh;
    }
    .form{
        width: 100%;
    }

}

@media (max-width:600px){
    .divGral{
        background-image: url('https://res.cloudinary.com/df4kwquv8/image/upload/v1679020995/emprendar_sources/qtdyecdqim8llthgfra8.jpg');
        min-height: 100vh;
    }  

    .logo{
        width: 300px;
        height: auto;
    }

    .container{
        width: 90%;
    }

    .form{
        width: 100%;
    }

    .form input{
        width: 100%;
    }

    .container h1{
        font-size: 20px;
    }
    .messageContainer h5{
        font-size: 14px; 
    }

    .inputBox {
        width: 100%;

    }
}