
.img {
    width: 20rem; 
    max-height: 15rem;
    border-radius: 10px;
    object-fit: cover;
    
}
.conteiner{
    padding: 16px;
}

/*CONTAINER DE LA INFO*/
.containerInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.container_photo{
    width: 100%;
    max-height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    }
@media (min-width: 768px) {
    .container_photo{
        flex: 2;
        }
    .containerInfo {
        flex-direction: row;
    }
}

@media (max-width: 900px){
    .img{
        max-width: 250px;
    }
}



.InfoLessDescription{
    flex: 2;
    margin-top: 1rem;
}

.title{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}

.title h2:first-letter {
    text-transform: uppercase;
}

@media (min-width : 768px) {
    .extra_info > div {
            margin-top: 1rem;
    }

   
    .InfoLessDescription{
        margin:0;
        text-align: center;
    }
    
}



/*Montos de dinero*/

.cash{
    display: flex;
    text-align: center;
}

.cash p {
    padding: 1rem 0;
    color: #028858;
    font-weight: bold;
}

.cash > div {
    width: 50%;
}


/*DESCRIPCION DEL PROYECTO*/

.description{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
}


@media (min-width:768px) {
    .description{

        text-align: start;
    }
}

.description > h3{
    height: 20%;
    padding: 10px;
}

.description_text{
    line-height: 1.5;
    font-size: 1.1rem;
    padding: 10px;
    text-align: justify;
}

.date {
    text-align: center;
}

.date p {
    padding: 1rem 0;
}