

.cardUser{
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  
} 

.perfil{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    
    padding: 0 5rem;
}

.img {
    border-radius: 50%;
    height: 100%;
    max-width: 100%;
}

.detailPerfil{
    display: flex;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.detailPerfil  h5{
    text-align: center;
    font-size: 25px;

}

.detailPerfil > p{
    height: 50%;
    font-size: 20px;
}

.star {
    color: #ff8000;
}