

.container{
    height: 100%;
    width:  100%;
    display: flex;
    flex-direction: column;
}

.viewMessage{
    height: 85%;
    width: 100%;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;

    gap:10px ;

}

.writeComment{
    width: 100%;
    height: 15%;
    padding: 8px;
    display: flex;
}

.writeComment > input{
    width: 80%;
    padding-inline-start: 16px;
    font-size: 20px;
}

.writeComment > button{ 
    font-size: 20px;
    width: 20%;
}


/*message*/

.container_message{
    width: fit-content;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.perfil{
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 5px;
    color: #000000;
    font-weight: bold;
}


.perfil > img{
    border-radius: 50%;
}

.message{
    display: flex;
    background: #ffbb00;
    padding: 1rem;
    align-items: center;

    border-radius: 0 1rem 1rem 1rem ;
}


.buttonSendMsg{
    border: none;
    background-color: #2e034b;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    height: 42px;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    cursor: pointer;
}

.buttonSendMsg:hover{
    background-color: #2e034bce;
}


.container_message img{
    width: 3rem;
}


.theIcon:hover {
    cursor: pointer;
}

.theIcon {
    color: red;
    font-weight: bold;
}